/* 各个功能模块合集 */

/* slider */
.m-slider-container {
    display: inline-block;
    position: relative;
    width: 100%;
    min-width: 1206px;
    height: 460px;
    text-align: center;
    overflow: hidden;
    background-color: #f8f8f8;
}

.m-slider-controller {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.m-slider-controller i {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #fff;
}

.m-slider-controller i~i {
    margin-left: 10px;
}

.m-slider-controller i.chosen {
    background-color: #333;
}

/* revolver */
.m-revolver-container {
    width: 100%;
    min-width: 1206px;
    margin-top: 58px;
    padding: 2px 0;
    overflow: hidden;
    background-color: #f8f8f8;
}

.m-revolver {
    width: 1616px;
    height: 220px;
    margin: 0 auto;
}

/* revolver 内容居中溢出隐藏兼容效果 */
.m-revolver-container {
    position: relative;
    height: 220px;
}

.m-revolver-container .p {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
}

.m-revolver {
    position: absolute;
    top: -50%;
    left: -50%;
}

.m-revolver.hidden {
    visibility: hidden;
    position: static;
}

.m-revolver img {
    float: left;
}
.m-revolver img~img {
    margin-left: 4px;
}


/* ranking */
.m-ranking-item{
    width: 100%;
}
.m-ranking-item~.m-ranking-item{
    margin-top: 20px;
}
.m-ranking-item img{
    width: 50px;
    height: 50px;
    
    background-color: cornflowerblue;
}
.m-ranking-item p{
    display: inline-block;
    width: 120px;
    margin-left: 9px;
    vertical-align: top;
    color: #999;
}
.m-ranking-item span{
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333;
}
.m-ranking-item i{
    width: 9px;
    height: 10px;
    margin: 12px 6px 0 0;
    vertical-align: -1px;
    background: url(../img/icons24.png) no-repeat -146px -28px;
}

/* gridview */
.m-gridview-container{
    display: inline-block;
}
.m-gridview-tab{
    display: inline-block;
    margin-bottom: 30px;
    font-size: 0px;/* 消除inlineblock间隔 */
    box-shadow: 0 1px 1px 0 #d4d3d3;
    background-color: #fff;/* 选中#39a030; */
}
.m-gridview-tab div{
    display: inline-block;
    width: 200px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    color: #666;
    text-align: center;
}
.m-gridview-tab .tab-on{
    color: #fff;
    background-color: #39A030;
}

.m-gridview-contentwraper{
    width: 960px;
    height: 1220px;
}
.m-gridview-content{
    width: 980px;
    height: 1240px;
    margin-left: -20px;
}

.m-gridview-item{
    display: inline-block;
    position: relative;
    width: 223px;
    height: 217px;
    margin: 0 0 20px 20px;
    padding: 1px 1px 10px 1px;
    box-shadow: 0 1px 1px 0 #e6e6e6;
    background-color: #fff;
}
.m-gridview-item:hover{
    box-shadow: 0 0 0 1px  #e6e6e6;
}
.m-gridview-item:hover .name{
    color: #39a030;
}
.m-gridview-item img{
    width: 223px;
    height: 124px;    
}
.m-gridview-item span{    
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.m-gridview-item  .item-info{
    width: 210px;
    margin: 8px 0 0 4px; /* 因为相邻元素垂直方向上有不明2px空白,依据设计图10px-2px */
}
.m-gridview-item .org{
    color: #999;
}
.m-gridview-item .amount{
    width: 40px;
    height: 18px;
    color: #999;
    font-size: 10px;
    line-height: 18px;
    text-indent: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: url(../img/icons24.png) no-repeat -142px -1px;
}
.m-gridview-item .price{
    color: #ff3f00;
    font-weight: 600;
    text-indent: 2px; /* 价格文字缩进2像素 */
}
.m-gridview-item .coverlayer{
    display: none;
    position: absolute;
    top:-9px;
    left: -9px;
    z-index: 10;
    width: 481px;
    box-shadow: 1px 0 1px 1px #d4d3d3;
    background-color: #fff;
}
.coverlayer.coveron{
    display: block;
}
.coverlayer img{
    float: left;
    margin: 10px 20px 20px 10px;
}
.coverlayer span{
    width: 216px;
    font-size: 12px;
    color: #666;    
}
.coverlayer .coverlayer-name{
    margin-top: 15px;
    font-size: 18px;
    color: #333;
}
.coverlayer .coverlayer-amount{
    margin-top: 17px;
    vertical-align: top;
}
.coverlayer .coverlayer-amount i{
    width: 9px;
    height: 10px;
    margin: 0 6px 0 4px;
    background: url(../img/icons24.png) no-repeat -146px -28px;
}
.coverlayer .coverlayer-provider,.coverlayer .coverlayer-category{
    padding-left: 2px;
}
.coverlayer .coverlayer-provider{
    margin-top: 13px;
}
.coverlayer .coverlayer-category{
    margin-top: 8px;
}
.coverlayer-footer{
    padding: 17px 33px 19px 21px;
    background-color: #f8f8f8;
}
.coverlayer .coverlayer-description{
    height: 48px;
    font-size: 14px;
    line-height: 24px;
    color: #666;
    overflow: hidden;
}

.m-gridview-pages{
    float: right;
    margin-top: 30px;
}
.m-gridview-pages *{
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-left: 8px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #666;
}
.m-pages-previous,.m-pages-next{
    width: 30px;
    background-color: #9dd8b1;
    cursor: pointer;
}
.m-pages-previous i{
    width: 8px;
    height: 12px;
    margin: 0;
    vertical-align: -1px; /* 切图没切好矫正 */
    background: url(../img/icons24.png) no-repeat -43px -27px;
}
.m-pages-next i{
    width: 8px;
    height: 12px;
    margin: 0;
    vertical-align: -0.5px; /* 切图没切好矫正 */
    background: url(../img/icons24.png) no-repeat -57px -27px;
}
.m-pages-pagination.pagesnum:hover{
    color: #39a030;
    cursor: pointer;
}
.m-pages-pagination.pagesnum.chosen{
    color: #fff;
    background-color: #9DD8B1;
}

/* modal */
.m-modal{
    height:100%;
    width:100%;
    position:fixed;
    left:0;
    top:0;
    background: rgb(0, 0, 0);    /*不支持rgba的浏览器*/
    background: rgba(0,0,0,.8);  /*支持rgba的浏览器*/
    text-align:center;
}
.m-modal .modal_align,.m-modal .modal_wrap{
    display:inline-block;
    vertical-align:middle;
}
.m-modal .modal_align{
    height:100%;
    width:1px;
    line-height:100%;
}
.m-modal .modal_wrap{
    position:relative;
    padding: 30px 30px 40px;
    text-align:left;
    background-color: #fff;
}
.m-modal .modal_tittle{
    font-size: 18px;
    color: #444;
}
.m-modal .close{
    position:absolute;
    right:12px;
    top:13px;
    width: 10px;
    height: 10px;
    background: url(../img/icons24.png) no-repeat -69px -28px;
    cursor:pointer;
}
.modal_videoplayer video{
    margin-top: 22px;
    cursor: pointer;
}
.m-modal .modal_login{
    padding: 0 10px;
}
.modal_login input{
    display: block;
    width: 283px;
    height: 43px;
    padding-left: 10px;
    border: 1px solid #dfdfdf;
    font-size: 16px;
    line-height: 43px;
    color: #ccc;
    background-color: #fafafa;
    box-shadow: inset 1px 1px 0 1px #f1f1f1;
}
.modal_login input:focus{
    background-color: #fff;
    color: #333;
}
.modal_login #account{
    margin-top: 20px;
}
.modal_login #psw{
    margin-top: 15px;
}
.modal_login #tip{
    display: block;
    height:15px;
    margin-top:7px;
    font-size:12px;
    color:#fc4343;
    line-height:15px;
    text-align: center;
}
.modal_login #loginBtn{
    width: 295px;
    height: 48px;
    margin-top: 7px;
    border: 0;
    background: url(../img/icons24.png) no-repeat -0px -129px;
    cursor:pointer;
}